
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#e2e4ef); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.weather-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  background-color: #92d3ef; 
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

input {
  width: 80%;
  padding: 10px 35px 10px 10px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.clear-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 20px;
}

.clear-icon:hover {
  color: #555;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

button {
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #888;
  background-color: #fff;
  transition: 0.2s;
}

button:hover:not(:disabled) {
  background-color: #eee;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.weather-info {
  margin-top: 20px;
}

.temp {
  font-size: 32px;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 10px;
}
